:root {
	--white: #fff;
	--active-color: #00aeb0;
}

* {
	box-sizing: border-box;
}

input[type="range"] {
	height: 5px;
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 8px;
	background: #3b7677;
	transition: background 0.2s ease;
	cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
	width: 20px;
	-webkit-appearance: none;
	height: 20px;
	border-radius: 20px;
	cursor: ew-resize;
	background: #374151;
}
